.flex-container {
    display: flex;
    gap: 15px;
}

.link-style {
    color: black;
    /* text-decoration: underline; */
}

.link-style:hover {
    color: blue;
}

/* fb.module.css */

.flex-container {
    display: flex;
    gap: 20px;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 86% 14%;
    gap: 10px;
}

.grid-containerFilePendukung {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
}

.grid-left {
    padding: 10px;
}

.grid-right {
    margin-top: 5vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* grid catatan*/
.grid-containerNote {
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 10px;
}

.grid-leftNote {
    padding: 0px;
}

.grid-rightNote {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

/* Border Content*/
.bordered-content {
    border: 1px solid black;
    padding: 10px;
    text-align: center; /* Membuat teks menjadi tengah horizontal */
    height: 40vh;
    display: flex;
    justify-content: center; /* Mengatur posisi vertikal menjadi di tengah */
    align-items: center; /* Mengatur posisi vertikal menjadi di tengah */
    color: red;
    font-style: italic;
}

.centered-text-file-pendukung {
    font-size: 3vh;
    margin: 0;
}

.titleText {
    font-size: 2.5vh;
    margin-bottom: 2vh;
    font-weight: bold;
}

/* table */
.table {
    border-collapse: collapse;
}

.table,
.table th,
.table td {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.table th {
    background-color: #f6f8fa;
    color: rgb(107, 107, 107);
}

.table th,
.table td {
    border: 1px solid rgb(159, 158, 158);
}

.titleText {
    margin-bottom: 2vh;
}

.inputTableBasicSearch {
    width: 100%;
    /* background-color: transparent; */
}

.inputTableBasic {
    width: 100%;
    /* background-color: transparent; */
}

/* .inputTableBasicDate {
    background-color: transparent;
} */

.inputTableBasic:focus,
.inputTableBasicSearch:focus,
.inputTableBasicDate:focus {
    outline: none;
}

.inputTableBasic:focus,
.inputTableBasicSearch:focus,
.inputTableBasicDate:focus {
    border-color: #ccc;
}

.modalDetailDragable {
    position: fixed;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(56, 55, 55);
    padding: 28px;
    background-color: #fbfafa;
    z-index: 1000;
    color: black;
    width: 80%;
    max-width: 80%;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modalPreviewPictureDragable {
    position: fixed;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(56, 55, 55);
    padding: 28px;
    background-color: #fbfafa;
    z-index: 1000;
    color: black;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.closeButtonDetailDragable {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.FileUploadFilePendukung {
    display: inline-block;
    background-color: gray;
    color: white;
    width: 14%;
    height: 14%;
}